<html>
    <head>
        <title>Владимир Лучников | Личный сайт</title>        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/kswedberg/jquery-smooth-scroll/master/jquery.smooth-scroll.js"></script>
        <script type="text/javascript" src="bower_components/a-slider/aslider.js"></script>
        <script type="text/javascript" src="assets/js/invoice1.js"></script>
        <script type="text/javascript" src="assets/js/slide.js" ></script>
        <link rel="icon" href="images/fave.png" type="image/png" >
        <link rel="stylesheet" href="assets/css/main.css" >
        <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body ng-app="invoice" ng-controller="InvoiceController as invoice" >
        <header class="tabs">
           <img class="im" src="images/heade.png" height="50px" > <laber class="logo" > Личный сайт </laber>
            <label class=" as">Владимира Лучникова</label>
            <ul class="taber" ng-repeat="t in tabs">
                <a href="#{{t.id}}" >{{t.name}}</a>
            </ul> 
        </header>
        <div id="about" class="about">
            <div class="aboutbody">
            <h1 id="abohead">{{about}}</h1>   
            <div ng-repeat="tem in aboutstr" class="te">
              <p>{{tem.textmy}}</p>
            </div>
            </div>
        </div>
        <div id="works" class="works">
            <h1>{{work}}</h1>
            <div class="contmain" ng-repeat="wo in worksed">
                <a class="lind" href="{{wo.lik}}">{{wo.myList}}</a>
            </div>
        </div>
        <div id="tech" class="slid">
            <h1>{{tech}}</h1>
       <div class="aslider" data-hide-controls>
        <div class="aslide" ng-repeat="im in img" data-duration=5 >
            <img class="immod" ng-src="{{im.image}}" >
            <div class="asmod">
                <h1>{{im.name}}</h1>
                <br>
                <label >{{im.conte}}</label>
            </div>
           </div>
        </div>
        </div>
        <div id="contact" class="contact">
            <h1>{{cont}}</h1>
            <div class="contmain" ng-repeat="lin in myLiks">
                <p><i class="{{lin.ico}}"></i> <a href="{{lin.hre}}" class="lind">{{lin.val}}</a></p>
            </div>
        </div>
        <footer class="bot" >
            <ul ng-repeat="f in fot" >
                <label >{{f.name}}</label> 
            </ul>
        </footer>
    </body>
</html>